body {
  margin: 0;
  padding: 0;
  border: 0;
}

.container {
  position: relative;
  width: 1024px;
  height: 768px;
  margin: 0;
  padding: 0;
  border: 0;
  background: #fff;
  overflow: hidden;
  background-image: url("../images/frame.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 183px;
  height: 24px;
  background-image: url("../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

img {
  max-width: 100%;
}

.frame {
  position: relative;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}

.bottom-border {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  z-index: 100;
  background: white;
}

#loader {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  background: white;
}

.glass {
  background: transparent !important;
}

#ifr {
  pointer-events: none;
}

.content {
  display: flex;
  height: 100%;
}

.image-container {
  height: 100%;
  position: relative;
  width: 45%;
  overflow: hidden;
}

.image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20px;
  border-radius: 0 15px 15px 0;
  background: white;
  z-index: 999;

  animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.text {
  width: 565px;
  position: relative;
}

.text-full {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.image {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  right: 0;
  object-fit: cover;

  animation: fadeInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.slide {
  position: absolute;
  width: 1024px;
  height: 772px;
  top: 0;
  left: 0;
}
